In [58]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/internship-1/movies.csv
/kaggle/input/internship-1/ratings.csv
/kaggle/input/internship-1/tags.csv
/kaggle/input/internship-1/links.csv

In [137]:
df1 = pd.read_csv("/kaggle/input/internship-1/movies.csv")
df2 = pd.read_csv("/kaggle/input/internship-1/ratings.csv")
df3 = pd.read_csv("/kaggle/input/internship-1/tags.csv")
d10 = pd.read_csv("/kaggle/input/internship-1/links.csv")

In [145]:
df1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [115]:
ac = df2.groupby("movieId")
ac.count()

         userId  rating  timestamp
movieId
1           215     215        215
2           110     110        110
3            52      52         52
4             7       7          7
5            49      49         49
...         ...     ...        ...
193581        1       1          1
193583        1       1          1
193585        1       1          1
193587        1       1          1
193609        1       1          1

[9724 rows x 3 columns]

In [126]:
aa = df2.groupby("movieId")["rating"].count()
ad = df2.groupby("movieId")["rating"].mean()

In [124]:
ag = df2.groupby("movieId").apply(lambda a: a.drop("movieId", axis=1)[:])["rating"].count()
ag

100836

In [129]:
fake = pd.merge(pd.merge(aa, df1, on="movieId"), ad, on="movieId")
fake

,movieId,rating_x,title,genres,rating_y
0,1,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,110,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,52,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,7,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,49,Father of the Bride Part II (1995),Comedy,3.071429
...,...,...,...,...,...
9719,193581,1,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.000000
9720,193583,1,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.500000
9721,193585,1,Flint (2017),Drama,3.500000
9722,193587,1,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,3.500000
9723,193609,1,Andrew Dice Clay: Dice Rules (1991),Comedy,4.000000

In [131]:
ag = fake["rating_x"] > 50
main = fake[ag]
main

,movieId,rating_x,title,genres,rating_y
0,1,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,110,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,52,Grumpier Old Men (1995),Comedy|Romance,3.259615
5,6,102,Heat (1995),Action|Crime|Thriller,3.946078
6,7,54,Sabrina (1995),Comedy|Romance,3.185185
...,...,...,...,...,...
8287,106782,54,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,3.916667
8354,109374,52,"Grand Budapest Hotel, The (2014)",Comedy|Drama,3.778846
8358,109487,73,Interstellar (2014),Sci-Fi|IMAX,3.993151
8457,112852,59,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.050847
8673,122904,54,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,3.833333

In [135]:
popu = main.sort_values("rating_x").tail(10)
popu

,movieId,rating_x,title,genres,rating_y
461,527,220,Schindler's List (1993),Drama|War,4.225000
507,589,224,Terminator 2: Judgment Day (1991),Action|Sci-Fi,3.970982
97,110,237,Braveheart (1995),Action|Drama|War,4.031646
418,480,238,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,3.750000
224,260,251,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.231076
1938,2571,278,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446
510,593,279,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290
257,296,307,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068
277,318,317,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022
314,356,329,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134

In [ ]:
import requests
import numpy as np
from bs4 import BeautifulSoup

def scrapper(imdbId):
    id = str(int(imdbId))
    n_zeroes = 7 - len(id)
    new_id = "0"*n_zeroes + id
    URL = f"https://www.imdb.com/title/tt{new_id}/"
    request_header = {'Content-Type': 'text/html; charset=UTF-8', 
                      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/119.0', 
                      'Accept-Encoding': 'gzip, deflate, br'}
    response = requests.get(URL, headers=request_header)
    soup = BeautifulSoup(response.text)
    imdb_rating = soup.find('FILL_IN_THE_BLANK', attrs={'FILL_IN_THE_BLANK' : 'FILL_IN_THE_BLANK'})
    return imdb_rating.text if imdb_rating else np.nan